.customizePage {
  display: flex;
  flex-direction: column;
}

.customizeContent {
  display: flex;
  justify-content: space-evenly;
  margin: 0 100px;
  font-family: "Share Tech";
  font-size: 1rem;
  word-spacing: 1.5px;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {

  .customizeContent {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
  }
}