.typeHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vh;
  margin-bottom: 16px;
}

.typeHeader h2 {
  font-family: "Press Start 2P";
  font-size: 1.25rem;
  font-weight: 400;
}

.typeSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.dotsContainer {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}

.dot {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #E0E0E0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activeDot {
  background-color: #6E7C87;
}

@media  (min-width: 1251px) {
  .dotsContainer {
    display: none;
  }
}

@media  (max-width: 1250px) {

  .typeSection {
    flex-direction: column;
  }
}

@media (max-width: 768px) {

  .typeHeader {
    height: 16vh;
    margin-bottom: 0;
  }

  .typeHeader h2 {
    font-size: 1rem;
  }

  .typeSection {
    gap: 8px;
  }

}