.customizeStatsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
  text-align: center;
}

.nextBtnCustomize {
  margin-top: 28px;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .customizeStatsContainer {
    width: 60vw;
  }
}

@media (max-width: 450px) {
  .customizeStatsContainer {
    width: 80vw;
  }
}