.customizeStatsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
}

.nextBtnCustomize {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}