.heroTypeCard {
  background-color: #0B0018;
  height: 75vh;
  width: 27vw;
  border: 3px solid #6E7C87;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.heroFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease, visibility 0.3s ease;
}

.imageFrame {
  object-fit: cover;
  z-index: 1;
  visibility: visible;
}

.detailsFrame {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 12px;
  box-sizing: border-box;
  text-align: center;
  font-family: Share Tech;
  opacity: 0;
  display: flex;
  z-index: 2;
  visibility: hidden;
}

.heroTypeCard:hover .typeImage,
.heroTypeCard:hover .typeDetails {
  transition-delay: 0.25s;
}

.heroTypeCard .typeImage {
  opacity: 0;
  visibility: hidden;
}

.heroTypeCard .typeDetails {
  opacity: 1;
  visibility: visible;
}

.detailsFrame h1 {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}
